/**************************************************************VARIABLES*/
$primary: salmon;
$secondary: #303541;
$tertiary: rgb(241, 235, 235);
$plante--primary: rgb(97, 179, 97);
$plante--secondary: rgb(143, 111, 63);
$feu--primary: rgb(225, 0, 0);
$feu--secondary: rgb(255, 205, 24);
$eau--primary: rgb(34, 34, 223);
$eau--secondary: rgb(170, 189, 225);
$electrik--primary: rgb(255, 241, 39);
$electrik--secondary: black;
$psy--primary: rgb(255, 71, 102);
$psy--secondary: rgb(166, 127, 171);
$roche--primary: rgb(123, 64, 29);
$roche--secondary: rgb(180, 179, 172);
$fée--primary: rgb(152, 73, 241);
$fée--secondary: rgb(237, 228, 135);
$dragon--primary: rgb(221, 190, 97);
$dragon--secondary: rgb(100, 111, 195);
/**************************************************************KEYFRAMES*/
@keyframes appear {
    0% {
        opacity: 0;
        transform: translateX(15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes evolveVanish {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}
@keyframes evolveAppear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
/*****************************************************************MIXINS*/
@mixin ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 40px;
    a {
        color: $secondary;
        text-decoration: none;
        &.animated {
            @for $i from 1 through 151 {
                &--#{$i} {
                    animation: appear 600ms ($i * 200ms) both ease-in-out;
                }
            }
        }
    }
    li {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 400px;
        width: 350px;
        font-weight: bold;
        list-style-type: none;
        background-color: $tertiary;
        padding: 10px;
        border: 1px solid black;
        border-radius: 15px;
        margin: 30px;
        #plante {
            background-color: $plante--primary;
        }
        #feu {
            background-color: $feu--primary;
        }
        #eau {
            color: $tertiary;
            background-color: $eau--primary;
        }
        #electrik {
            background-color: $electrik--primary;
        }
        #psy {
            background-color: $psy--primary;
        }
        #combat {
            color: $tertiary;
            background-color: brown;
        }
        #vol {
            background-color: rgb(190, 178, 178);
        }
        #sol {
            background-color: rgb(204, 168, 128);
        }
        #roche {
            background-color: $roche--primary;
        }
        #glace {
            background-color: rgb(122, 228, 241);
        }
        #normal {
            background-color: white;
        }
        #poison {
            color: $tertiary;
            background-color: rgb(84, 28, 148);
        }
        #dragon {
            background-color: $dragon--primary;
        }
        #insecte {
            background-color: rgb(146, 187, 35);
        }
        #fée {
            background-color: $fée--primary;
        }
        .number {
            align-self: end;
            color: black;
            padding: 4px 8px;
            border: 1px solid $secondary;
            border-radius: 15px;
        }
        .description {
            height: 120px;
            text-align: justify;
            overflow: auto;
            font-weight: normal;
        }
        .types {
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            span {
                color: black;
                padding: 5px 10px 3px 10px;
                border-radius: 15px;
                border: 1px solid $secondary;
            }
        }  
        &:hover {
            box-shadow: 2px 2px 8px rgb(70, 69, 69);
        }
        &.hidden {
            display: none;
        }
        &.vanish {
            animation: evolveVanish 800ms both ease-out;
        }
        &.appear {
            animation: evolveAppear 800ms both ease-in;
        }
    }
    .plante:hover {
        background: radial-gradient(ellipse at center, $plante--primary, $plante--secondary);
    }
    .feu:hover {
        background: radial-gradient(ellipse at center, $feu--primary, $feu--secondary);
    }
    .eau:hover {
        color: $tertiary;
        background: radial-gradient(ellipse at center, $eau--primary, $eau--secondary);
    }
    .electrik:hover {
        color: white;
        background: radial-gradient(ellipse at center, $electrik--primary, $electrik--secondary);
    }
    .psy:hover {
        background: radial-gradient(ellipse at center, $psy--primary, $psy--secondary);
    }
    .combat:hover {
        background: radial-gradient(ellipse at center, brown, $tertiary);
    }
    .vol:hover {
        background: radial-gradient(ellipse at center, rgb(190, 178, 178), $tertiary);
    }
    .sol:hover {
        background: radial-gradient(ellipse at center, rgb(204, 168, 128), $tertiary);
    }
    .roche:hover {
        background: radial-gradient(ellipse at center, $roche--primary, $roche--secondary);
    }
    .glace:hover {
        background: radial-gradient(ellipse at center, $tertiary, rgb(122, 228, 241));
    }
    .normal:hover {
        background: radial-gradient(ellipse at center, white, rgb(190, 178, 178));
    }
    .poison:hover {
        color: white;
        background: radial-gradient(ellipse at center, rgb(203, 237, 109), rgb(84, 28, 148));
    }
    .dragon:hover {
        background: radial-gradient(ellipse at center, $dragon--primary, $dragon--secondary);
    }
    .insecte:hover {
        background: radial-gradient(ellipse at center, rgb(112, 118, 96), rgb(203, 237, 109));
    }
    .fée:hover {
        background: radial-gradient(ellipse at center, $fée--primary, $fée--secondary);
    }
}
/*****************************************************************STYLES*/
body {
    font-family: Arial, Helvetica, sans-serif;
    color: $secondary;
    background-color: $primary;
    margin: 0;
    nav {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        height: 40px;
        background-color: $tertiary;
        border-bottom: 1px solid $secondary;
        a {
            font-size: 20px;
            font-weight: bold;
            text-decoration: none;
            color: $secondary;
            &:hover {
                color: $primary;
            }
        }
    }
    .formPage {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 95vh;
        form {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 350px;
            width: 50%;
            font-weight: bold;
                input {
                    width: 50%;
                    background-color: $tertiary;
                    padding: 5px 10px;
                    border: 1px solid $secondary;
                    border-radius: 15px;
                }
                .error {
                    font-weight: bold;
                    padding: 5px 10px;
                    border-radius: 15px;
                }
                .submit {
                    width: 30%;
                    font-weight: bold;
                    margin-top: 30px;
                    transition: all 800ms ease;
                    &:hover {
                        cursor: pointer;
                        color: $primary;
                        background-color: white;
                        letter-spacing: 3px;
                    }
                }
        }
    }
    .pokedex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;
        h1, .rank {
            align-self: start;
            font-size: 20px;
            background-color: $tertiary;
            padding: 5px 15px;
            border-radius: 15px;
            border: 1px solid $secondary;
            h2 {
                font-size: 20px;
                margin: 0;
                &:nth-child(2) {
                    margin-top: 10px;
                }
            }
        }
        .managePokemon {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 800px;
            width: 100%;
            margin-top: -80px;
            button {
                width: 30%;
                max-width: 400px;
                font-weight: bold;
                padding: 5px 10px;
                background-color: $tertiary;
                border: 1px solid $secondary;
                border-radius: 15px;
                margin-top: 30px;
                transition: all 800ms ease;
                &:hover {
                    cursor: pointer;
                    color: $primary;
                    background-color: white;
                    letter-spacing: 3px;
                }
            }
        }
        ul {
            @include ul
        }
        ul.pokemon {
            justify-content: center;
            li {
                height: 600px;
                width: 525px;
                padding: 30px;
                &:hover {
                    background-color: $tertiary;
                    box-shadow: none;
                }
                .name {
                    font-size: 22px;
                }
                img {
                    height: 300px;
                    width: 300px;
                }
                .description {
                    font-weight: bold;
                }
            }
        }
        .error {
            align-self: center;
            font-weight: bold;
            padding: 5px 10px;
            border-radius: 15px;
        }
    }
}