$primary: salmon;
$secondary: #303541;
$tertiary: rgb(241, 235, 235);

body {
    font-family: Arial, Helvetica, sans-serif;
    color: $secondary;
    margin: 0;

    .pokedex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: $primary;
        padding: 15px;
    
        h1 {
            align-self: start;
            font-size: 20px;
            background-color: $tertiary;
            padding: 5px 15px;
            border-radius: 15px;
        }

        .rank {
            align-self: end;
            text-align: right;
            background-color: $tertiary;
            padding: 5px 10px;
            border-radius: 15px;
            margin-top: -45px;
        }
    
        h2 {
            font-size: 14px;
        }

        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            padding: 0;

            li {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                height: 400px;
                width: 350px;
                font-weight: bold;
                list-style-type: none;
                background-color: $tertiary;
                padding: 10px;
                border: 1px solid black;
                border-radius: 15px;
                margin: 30px;

                #plante {
                    background-color: rgb(97, 179, 97);
                }
                #feu {
                    background-color: rgb(223, 45, 45);
                }
                #eau {
                    color: $tertiary;
                    background-color: rgb(62, 62, 230);
                }
                #electrik {
                    background-color: rgba(252, 208, 65, 0.979);
                }
                #psy {
                    background-color: rgb(247, 110, 133);
                }
                #combat {
                    color: $tertiary;
                    background-color: brown;
                }
                #vol {
                    background-color: rgb(190, 178, 178);
                }
                #sol {
                    background-color: rgb(204, 168, 128);
                }
                #roche {
                    background-color: rgb(187, 84, 24);
                }
                #glace {
                    background-color: rgb(122, 228, 241);
                }
                #normal {
                    background-color: white;
                    border: 1px solid $secondary;
                }
                #poison {
                    color: $tertiary;
                    background-color: rgb(84, 28, 148);
                }
                #dragon {
                    background-color: rgb(134, 92, 168);
                }
                #insecte {
                    background-color: rgb(146, 187, 35);
                }
                #fée {
                    background-color: rgb(152, 73, 241);
                }

                .number {
                    align-self: end;
                    color: black;
                    padding: 4px 8px;
                    border-radius: 15px;
                }

                .description {
                    height: 120px;
                    text-align: justify;
                    overflow: auto;
                    font-weight: normal;
                }

                .types {
                    display: flex;
                    justify-content: space-evenly;
                    align-items: center;
                    width: 100%;

                    span {
                        color: black;
                        padding: 5px 10px 3px 10px;
                        border-radius: 15px;
                    }
                }

                &:hover {
                    background-color: white;
                    box-shadow: 2px 2px 8px rgb(70, 69, 69);
                }
            }
        }
    }
}